.fc-brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  
  }
  
  .sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background: var(--darkThemeOuter);
    transition: all .5s ease;
  }
  
  .sidebar > h3 {
    color: var(--mainTextColor);
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    background: #000;
  }
  
  .sidebar a{
    display: block;
    color: var(--mainTextColor);
    height: 65px;
    line-height: 65px;
    padding-left: 30px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid rgb(0,0,0);
    border-left: 5px solid transparent;
    box-sizing: border-box;
  }
  
  .sidebar a:hover {
    border-left: 5px solid var(--sideBarColor);
    color: var(--sideBarColor);
  }
  
  .sidebar a:active {
    border-left: 5px solid var(--sideBarColor);
    color: var(--sideBarColor);
  }
  
  .sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 16px;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .close-button {
    position: absolute;
    right: 8px;
    top: 23px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: var(--mainTextColor);
    font-size: 20px;
    background: var(--darkThemeOuter);
    border: 1px solid var(--darkThemeOuter);
    border-radius: 5px;
  }